In [1]:
import pandas as pd
import numpy as np

file_path = "../../data/processed/yp_competitors_rws_0001_0050_topics.csv"
df = pd.read_csv(file_path)
df.head()

,alias,ratingValue,dataPublished,description,author,sentiment,word_count,sent_count,chr_count,avg_word_len,...,ratio_lexical,ratio_content,sent_tokens,word_tokens_doc,norm_tokens_doc,word_tokens,norm_tokens,sent_topics,topic_mode,topic_list
0,kimos-maui-lahaina,5,2019-01-06,I stumbled across this great restaurant overlo...,Bella L.,1,135,11,664,4.022222,...,0.637037,0.674074,['I stumbled across this great restaurant over...,"[('I', 'stumbled', 'across', 'this', 'great', ...","[('stumbl', 'across', 'great', 'restaur', 'ove...","['I', 'stumbled', 'across', 'this', 'great', '...","['stumbl', 'across', 'great', 'restaur', 'over...","[(5, 0.181669682264328), (2, 0.186504259705543...",1,"5,2,1,3,6,3,2,0,6,1,5"
1,kimos-maui-lahaina,5,2019-01-04,Excellent view on the ocean at sunset.\nExcell...,Rachou A.,1,36,5,160,3.611111,...,0.777778,0.638889,"['Excellent view on the ocean at sunset.', 'Ex...","[('Excellent', 'view', 'on', 'the', 'ocean', '...","[('excel', 'view', 'ocean', 'sunset'), ('excel...","['Excellent', 'view', 'on', 'the', 'ocean', 'a...","['excel', 'view', 'ocean', 'sunset', 'excel', ...","[(6, 0.146974578499794), (3, 0.139927998185157...",6,"6,3,8,6,9"
2,kimos-maui-lahaina,3,2018-12-25,This place was not what the reviews portrayed ...,Ozzetta B.,0,275,14,1229,3.596364,...,0.534545,0.567273,['This place was not what the reviews portraye...,"[('This', 'place', 'was', 'not', 'what', 'the'...","[('place', 'review', 'portray'), ('starter', '...","['This', 'place', 'was', 'not', 'what', 'the',...","['place', 'review', 'portray', 'starter', 'wal...","[(6, 0.15684203803539276), (8, 0.2266744673252...",8,"6,8,2,5,4,8,3,9,8,8,8,1,7,6"
3,kimos-maui-lahaina,2,2018-12-08,We were excited to repeat our Keoki's (in Kaua...,Arleen C.,0,475,34,2226,3.783158,...,0.484211,0.604211,"[""We were excited to repeat our Keoki's (in Ka...","[('We', 'were', 'excited', 'to', 'repeat', 'ou...","[('excit', 'repeat', 'keoki', ""'s"", 'kauai', '...","['We', 'were', 'excited', 'to', 'repeat', 'our...","['excit', 'repeat', 'keoki', ""'s"", 'kauai', 'l...","[(2, 0.1735130101442337), (4, 0.13328838348388...",2,"2,4,9,0,5,3,7,1,0,4,0,5,5,8,6,9,2,8,6,2,2,1,6,..."
4,kimos-maui-lahaina,3,2018-11-29,"If you're looking for a tourist spot, this is ...",Carol B.,0,168,10,776,3.732143,...,0.648810,0.636905,"[""If you're looking for a tourist spot, this i...","[('If', 'you', ""'re"", 'looking', 'for', 'a', '...","[(""'re"", 'look', 'tourist', 'spot'), ('unfortu...","['If', 'you', ""'re"", 'looking', 'for', 'a', 't...","[""'re"", 'look', 'tourist', 'spot', 'unfortun',...","[(6, 0.1469745934009552), (9, 0.20430350303649...",6,"6,9,8,6,4,0,5,3,1,9"

In [2]:
# fix column type error
from ast import literal_eval

fix_columns_list = ['sent_tokens', 'word_tokens_doc', 'norm_tokens_doc', 'word_tokens', 'norm_tokens']
for column in fix_columns_list:
    df[column] = df[column].apply(lambda x: literal_eval(x))
df.loc[:5, fix_columns_list]

,sent_tokens,word_tokens_doc,norm_tokens_doc,word_tokens,norm_tokens
0,[I stumbled across this great restaurant overl...,"[(I, stumbled, across, this, great, restaurant...","[(stumbl, across, great, restaur, overlook, oc...","[I, stumbled, across, this, great, restaurant,...","[stumbl, across, great, restaur, overlook, oce..."
1,"[Excellent view on the ocean at sunset., Excel...","[(Excellent, view, on, the, ocean, at, sunset,...","[(excel, view, ocean, sunset), (excel, food), ...","[Excellent, view, on, the, ocean, at, sunset, ...","[excel, view, ocean, sunset, excel, food, fres..."
2,[This place was not what the reviews portrayed...,"[(This, place, was, not, what, the, reviews, p...","[(place, review, portray), (starter, walk, sta...","[This, place, was, not, what, the, reviews, po...","[place, review, portray, starter, walk, stair,..."
3,[We were excited to repeat our Keoki's (in Kau...,"[(We, were, excited, to, repeat, our, Keoki, '...","[(excit, repeat, keoki, 's, kauai, lovefest, s...","[We, were, excited, to, repeat, our, Keoki, 's...","[excit, repeat, keoki, 's, kauai, lovefest, si..."
4,"[If you're looking for a tourist spot, this is...","[(If, you, 're, looking, for, a, tourist, spot...","[('re, look, tourist, spot), (unfortun, could,...","[If, you, 're, looking, for, a, tourist, spot,...","['re, look, tourist, spot, unfortun, could, n'..."
5,"[What an amazing restaurant, especially the vi...","[(What, an, amazing, restaurant, ,, especially...","[(amaz, restaur, especi, view, dinner), (dine,...","[What, an, amazing, restaurant, ,, especially,...","[amaz, restaur, especi, view, dinner, dine, wa..."

In [4]:
from itertools import chain
chain(*df.norm_tokens[:100])

## Doc Term Matrix

In [5]:
import gensim
from gensim.corpora import Dictionary

data = pd.Series(list(chain(*df.norm_tokens_doc[:100])), name='norm_tokens_doc')
data = list(chain(*df.norm_tokens_doc[:100]))

id2word = Dictionary(documents=data)
doc_term_matrix = [id2word.doc2bow(doc) for doc in data]
doc_term_matrix[:1]

[[(0, 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1)]]

In [7]:
data[:5]

[('stumbl',
  'across',
  'great',
  'restaur',
  'overlook',
  'ocean',
  'lunch',
  'vacat',
  'maui'),
 ('high', 'expect', 'place', 'boy', 'blow', 'water'),
 ('fish', 'chip', 'best', "'ve", 'ever', "'ve", 'lot', 'includ', 'london'),
 ('highli', 'recommend'),
 ('also', 'turkey', 'bacon', 'sandwich', 'good')]

In [45]:
from gensim.models import CoherenceModel
from gensim.models import HdpModel

hdp_model = HdpModel(doc_term_matrix, id2word)
hdp_model.show_topics(num_words=4, num_topics=3)

[(0, '0.007*salsa + 0.006*a- + 0.006*argument + 0.005*seafood'),
 (1, '0.005*ono + 0.005*sprout + 0.004*cake + 0.004*truli'),
 (2, '0.005*well + 0.005*unless + 0.004*breakfast + 0.004*chop')]

In [8]:
from gensim.models import LsiModel
lsi_model = LsiModel(corpus=doc_term_matrix, num_topics=10, id2word=id2word)
lsi_model.show_topics(num_words=4, num_topics=3)

[(0, '0.522*"\'s" + 0.326*"kimo" + 0.215*"fish" + 0.210*"view"'),
 (1, '0.549*"\'s" + 0.347*"kimo" + -0.345*"view" + -0.220*"fish"'),
 (2, '-0.590*"fish" + 0.365*"view" + -0.284*"mahi" + -0.266*"order"')]

In [10]:
doc_topic_list = lsi_model[doc_term_matrix[0]]
max(doc_topic_list, key=lambda x: x[1])
doc_topic_list

[(0, 0.4577767745022286),
 (1, -0.3394702397301862),
 (2, 0.43806532995484854),
 (3, -0.24163345759488503),
 (4, 0.12888575129368146),
 (5, -0.11204414833687067),
 (6, -0.0816756155945271),
 (7, -0.48514348673887825),
 (8, -0.29732854727856384),
 (9, 0.7437154251852944)]

In [11]:
from gensim.models.wrappers import LdaMallet

mallet_path = '../../model/mallet-2.0.8/bin/mallet'
lda_mallet = LdaMallet(mallet_path, doc_term_matrix, num_topics=10)
lda_mallet.show_topics(num_words=4, num_topics=3)

/Applications/anaconda3/envs/text/lib/python3.7/site-packages/gensim/models/wrappers/ldamallet.py:442: RuntimeWarning: invalid value encountered in true_divide
  topic = topic / topic.sum()  # normalize to probability dist

[(7, 'nan*"1003" + nan*"1005" + nan*"1001" + nan*"1002"'),
 (8, 'nan*"1003" + nan*"1005" + nan*"1001" + nan*"1002"'),
 (0, 'nan*"1003" + nan*"1005" + nan*"1001" + nan*"1002"')]

In [12]:
LdaMallet == type(lda_mallet)

True

In [23]:
doc_topic_list = lda_mallet[doc_term_matrix][1]
doc_topic_list
max(doc_topic_list, key=lambda x: x[1])

(8, 0.125)

In [14]:
from gensim.models import LdaModel
LdaModel.get_document_topics()

TypeError: get_document_topics() missing 2 required positional arguments: 'self' and 'bow'

In [59]:
from gensim.models import RpModel

# transformation like
rp_model = RpModel(doc_term_matrix, id2word, num_topics=10)
rp_model[doc_term_matrix[0]]

[(0, 1.5811388492584229),
 (1, -0.3162277042865753),
 (2, -0.9486832618713379),
 (3, -0.3162277638912201),
 (4, -0.3162277638912201),
 (5, 0.3162277638912201),
 (6, 0.3162277638912201),
 (7, 0.9486832618713379),
 (8, -0.9486832618713379),
 (9, 0.3162277638912201)]

In [67]:
from gensim.models import TfidfModel

# transformation like
tfidf_model = TfidfModel(id2word=id2word, corpus=doc_term_matrix)
tfidf_model[doc_term_matrix[0]]

[(0, 0.3890684642963089),
 (1, 0.21013991003912663),
 (2, 0.2865653223505219),
 (3, 0.24175593745239612),
 (4, 0.2374611467358843),
 (5, 0.4094485385475573),
 (6, 0.22594792374576136),
 (7, 0.4872768155255841),
 (8, 0.3890684642963089)]

In [76]:
from gensim.models import NormModel

norm_model = NormModel(doc_term_matrix, norm='l2')
norm_model[doc_term_matrix[0]]

[(0, 0.3333333333333333),
 (1, 0.3333333333333333),
 (2, 0.3333333333333333),
 (3, 0.3333333333333333),
 (4, 0.3333333333333333),
 (5, 0.3333333333333333),
 (6, 0.3333333333333333),
 (7, 0.3333333333333333),
 (8, 0.3333333333333333)]