In [1]:
import pandas as pd
from pandas.io.json import json_normalize
import json

In [8]:
#Â data imports
json_data = {}

with open('../../data/raw/yp_leilanis-lahaina-2_rws.json') as f:
    json_data = json.loads(f.read())

dataset = json_normalize(json_data['reviews'])
dataset.head()

,author,datePublished,description,ratingValue
0,Giorgio C.,2018-10-13,"Try good service, beach front so a bit loud. M...",4
1,Maxx C.,2018-10-05,When we arrived they gave us a choice of eatin...,5
2,Al D.,2018-10-04,Stopped in here on a Tuesday evening around 8p...,4
3,Zachary D.,2018-09-29,Hawaiian chain type restaurant with pretty dec...,4
4,Chilly P.,2018-07-10,Oh my. Where do I even begin...\n\nLet's start...,1

In [10]:
dataset_new = pd.DataFrame()

dataset_new['status'] = dataset.iloc[:, 3].apply(lambda x: 1 if x > 3 else 0)
dataset_new['reviews'] = dataset.iloc[:,2].values

dataset_new.to_csv('../../data/processed/yp_leilanis-lahaina-2_rws.csv', index=False)
dataset_new.head()

   status                                            reviews
0       1  Try good service, beach front so a bit loud. M...
1       1  When we arrived they gave us a choice of eatin...
2       1  Stopped in here on a Tuesday evening around 8p...
3       1  Hawaiian chain type restaurant with pretty dec...
4       0  Oh my. Where do I even begin...\n\nLet's start...