In [5]:
import numpy as np
import pandas as pd

file_path = "../../data/raw/yp_competitors_rws.csv"
file_path = "../../data/processed/yp_kimos-maui-lahaina_rws.csv"
df = pd.read_csv(file_path)

In [7]:
df.head()

   status                                            reviews
0       1  Kimo's never disappoints.  We come here once o...
1       0  I was there the first week of October and Firs...
2       1  This place was on my "Must Do Maui" list and i...
3       0  Monday night dinner here and they quickly sat ...
4       1  Nice view and amazing cocktails. They are loca...

In [12]:
print(df.iloc[1,1])

I was there the first week of October and First of all I think the staff is wonderful.
   But let's start with the drinks, they all tasted watered down including the coke.
  The menu I thought was very limited for a well known seafood restaurant and the portions were good but small.
   I can get a better selection of fresh seafood at a more reasonable price in Chicago and they're 1000 miles from the ocean.
    The only thing that they have going for them  are the staff and the view.