## HI business list

In [29]:
hi_business_list = []
with open('../../data/raw/hi_competitors.csv', 'r') as f:
    hi_business_list.extend(f.readlines())
hi_business_list = [i.split('\n')[0] for i in hi_business_list]

##Â Reviews

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

file_path = "../../data/processed/yp_competitors_rws_0001_0256_complete.csv"
df = pd.read_csv(file_path) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454043 entries, 0 to 454042
Data columns (total 30 columns):
alias               454043 non-null object
ratingValue         454043 non-null int64
dataPublished       454043 non-null object
description         454043 non-null object
author              454043 non-null object
sentiment           454043 non-null int64
word_count          454043 non-null int64
sent_count          454043 non-null int64
chr_count           454043 non-null int64
avg_word_len        454043 non-null float64
avg_sent_len        454043 non-null float64
num_of_stopwords    454043 non-null int64
num_of_modals       454043 non-null int64
hashtags            454043 non-null int64
mentions            454043 non-null int64
numerics            454043 non-null int64
uppercase_cnt       454043 non-null int64
punctuation_cnt     454043 non-null int64
vocab_cnt           454043 non-null int64
ratio_lexical       454043 non-null float64
ratio_content       454043 non-null float64
sent_tokens         454043 non-null object
word_tokens_doc     454043 non-null object
norm_tokens_doc     454043 non-null object
word_tokens         454043 non-null object
norm_tokens         454043 non-null object
sent_topics         454043 non-null object
topic_mode          454043 non-null int64
topic_list          454043 non-null object
svm_classifier      454043 non-null int64
dtypes: float64(4), int64(15), object(11)
memory usage: 103.9+ MB

In [4]:
# fix column type error
from ast import literal_eval

fix_columns_list = ['sent_tokens', 'word_tokens_doc', 'norm_tokens_doc', 'word_tokens', 'norm_tokens']
for column in fix_columns_list:
    df[column] = df[column].apply(lambda x: literal_eval(x))
df.loc[:5, fix_columns_list]

,sent_tokens,word_tokens_doc,norm_tokens_doc,word_tokens,norm_tokens
0,[I stumbled across this great restaurant overl...,"[(I, stumbled, across, this, great, restaurant...","[(stumbl, across, great, restaur, overlook, oc...","[I, stumbled, across, this, great, restaurant,...","[stumbl, across, great, restaur, overlook, oce..."
1,"[Excellent view on the ocean at sunset., Excel...","[(Excellent, view, on, the, ocean, at, sunset,...","[(excel, view, ocean, sunset), (excel, food), ...","[Excellent, view, on, the, ocean, at, sunset, ...","[excel, view, ocean, sunset, excel, food, fres..."
2,[This place was not what the reviews portrayed...,"[(This, place, was, not, what, the, reviews, p...","[(place, review, portray), (starter, walk, sta...","[This, place, was, not, what, the, reviews, po...","[place, review, portray, starter, walk, stair,..."
3,[We were excited to repeat our Keoki's (in Kau...,"[(We, were, excited, to, repeat, our, Keoki, '...","[(excit, repeat, keoki, 's, kauai, lovefest, s...","[We, were, excited, to, repeat, our, Keoki, 's...","[excit, repeat, keoki, 's, kauai, lovefest, si..."
4,"[If you're looking for a tourist spot, this is...","[(If, you, 're, looking, for, a, tourist, spot...","[('re, look, tourist, spot), (unfortun, could,...","[If, you, 're, looking, for, a, tourist, spot,...","['re, look, tourist, spot, unfortun, could, n'..."
5,"[What an amazing restaurant, especially the vi...","[(What, an, amazing, restaurant, ,, especially...","[(amaz, restaur, especi, view, dinner), (dine,...","[What, an, amazing, restaurant, ,, especially,...","[amaz, restaur, especi, view, dinner, dine, wa..."

In [49]:
df_hi = df[df.alias.isin(hi_business_list)]
len(df_hi)

195769

In [27]:
df_hi.to_csv('../../data/processed/hi_rws_0001_0256_complete.csv', index=False)

##Â Businesses

In [28]:
df2 = pd.read_csv('../../data/raw/yp_competitors.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2547 entries, 0 to 2546
Data columns (total 56 columns):
alias                       2547 non-null object
display_phone               2138 non-null object
dist_to_alias               2547 non-null object
distance                    2547 non-null float64
id                          2547 non-null object
image_url                   2442 non-null object
is_closed                   2547 non-null bool
name                        2547 non-null object
phone                       2138 non-null float64
price                       1760 non-null object
rating                      2547 non-null float64
review_count                2547 non-null int64
transactions                224 non-null object
url                         2547 non-null object
category_alias              2547 non-null object
category_title              2547 non-null object
coordinate_latitude         2547 non-null float64
coordinate_longitude        2547 non-null float64
location_address1           2401 non-null object
location_address2           483 non-null object
location_address3           179 non-null object
location_city               2547 non-null object
location_zip_code           2521 non-null float64
location_country            2547 non-null object
location_state              2547 non-null object
location_display_address    2547 non-null object
avg_words_in_sents          2547 non-null float64
num_of_modals               2547 non-null int64
num_of_punctuation          2547 non-null int64
num_of_sents                2547 non-null int64
num_of_vocab                2547 non-null int64
num_of_words                2547 non-null int64
rating_avg                  2547 non-null float64
rating_sum                  2547 non-null int64
ratio_content               2547 non-null float64
ratio_lexical               2547 non-null float64
num_of_reviews              2547 non-null int64
Cnt_Day_Mon                 2547 non-null float64
Cnt_Day_Tue                 2547 non-null float64
Cnt_Day_Wed                 2547 non-null float64
Cnt_Day_Thu                 2547 non-null float64
Cnt_Day_Fri                 2547 non-null float64
Cnt_Day_Sat                 2547 non-null float64
Cnt_Day_Sun                 2547 non-null float64
Cnt_Mon_Jan                 2547 non-null float64
Cnt_Mon_Feb                 2547 non-null float64
Cnt_Mon_Mar                 2547 non-null float64
Cnt_Mon_Apr                 2547 non-null float64
Cnt_Mon_May                 2547 non-null float64
Cnt_Mon_Jun                 2547 non-null float64
Cnt_Mon_Jul                 2547 non-null float64
Cnt_Mon_Aug                 2547 non-null float64
Cnt_Mon_Sep                 2547 non-null float64
Cnt_Mon_Oct                 2547 non-null float64
Cnt_Mon_Nov                 2547 non-null float64
Cnt_Mon_Dec                 2547 non-null float64
dtypes: bool(1), float64(29), int64(8), object(18)
memory usage: 1.1+ MB

In [43]:
df_hi_b = df2[df2.alias.isin(hi_business_list)]

In [44]:
len(df_hi_b)

1023

In [46]:
df_hi_b.review_count.sum()

197944

In [47]:
df2.to_csv('../../data/raw/hi_businesses.csv', index=False)