In [25]:
# imports
import nltk
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import json

from textblob import TextBlob
from textblob import Word
from nltk.stem import PorterStemmer
try:
    from nltk.corpus import stopwords
    stop = stopwords.words('english')
except:
    nltk.download('stopwords')

In [10]:
json_data = {}

with open('../../data/raw/yp_leilanis-lahaina-2_rws.json') as f:
    json_data = json.loads(f.read())

dataset = json_normalize(json_data['reviews'])
dataset.head()

reviews = dataset.iloc[:,2]
reviews.head()

0    Try good service, beach front so a bit loud. M...
1    When we arrived they gave us a choice of eatin...
2    Stopped in here on a Tuesday evening around 8p...
3    Hawaiian chain type restaurant with pretty dec...
4    Oh my. Where do I even begin...\n\nLet's start...
Name: description, dtype: object

In [17]:
dataset['word_count'] = reviews.apply(lambda x: len(str(x).split(" ")))

In [18]:
dataset['chr_count'] = reviews.str.len()

In [20]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))
dataset['avg_word_len'] = reviews.apply(lambda x: avg_word(x))

In [26]:
dataset['num_of_stopwords'] = reviews.apply(lambda x: len([x for x in x.split() if x in stop]))

In [28]:
dataset['hashtags'] = reviews.apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

In [30]:
dataset['numerics'] = reviews.apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [32]:
dataset['uppercase_cnt'] = reviews.apply(lambda x: len([x for x in x.split() if x.isupper()]))

In [33]:
dataset.head()

,author,datePublished,description,ratingValue,chr_count,word_count,avg_word_len,num_of_stopwords,hashtags,numerics,uppercase_cnt
0,Giorgio C.,2018-10-13,"Try good service, beach front so a bit loud. M...",4,447,68,5.371429,17,0,0,1
1,Maxx C.,2018-10-05,When we arrived they gave us a choice of eatin...,5,889,178,4.098266,79,0,1,2
2,Al D.,2018-10-04,Stopped in here on a Tuesday evening around 8p...,4,503,100,4.020000,52,0,0,2
3,Zachary D.,2018-09-29,Hawaiian chain type restaurant with pretty dec...,4,728,131,4.484848,48,0,0,0
4,Chilly P.,2018-07-10,Oh my. Where do I even begin...\n\nLet's start...,1,2134,388,4.313283,138,0,0,20

In [38]:
dataset.to_csv('../../data/processed/yp_leilanis-lahaina-2_rws_basicfeatures.csv')

In [40]:
dataset_test = pd.read_csv('../../data/processed/yp_leilanis-lahaina-2_rws_basicfeatures.csv')
dataset_test.head()

,Unnamed: 0,author,datePublished,description,ratingValue,chr_count,word_count,avg_word_len,num_of_stopwords,hashtags,numerics,uppercase_cnt
0,0,Giorgio C.,2018-10-13,"Try good service, beach front so a bit loud. M...",4,447,68,5.371429,17,0,0,1
1,1,Maxx C.,2018-10-05,When we arrived they gave us a choice of eatin...,5,889,178,4.098266,79,0,1,2
2,2,Al D.,2018-10-04,Stopped in here on a Tuesday evening around 8p...,4,503,100,4.020000,52,0,0,2
3,3,Zachary D.,2018-09-29,Hawaiian chain type restaurant with pretty dec...,4,728,131,4.484848,48,0,0,0
4,4,Chilly P.,2018-07-10,Oh my. Where do I even begin...\n\nLet's start...,1,2134,388,4.313283,138,0,0,20