In [2]:
import pandas as pd

In [31]:
df = pd.DataFrame()
df = df.append([
    {'status': 0, 'reviews': "It started out really good.  Crab cakes were ok, beet salad ok even though I had no idea what the cheese was and then after 45 minutes, cold entree.  But you know how it is.  You wait so long and then it's cold like the runner took his 15 minute break and forgot about you but your starving so you eat it anyways. That's how it was for me."},
    {'status': 1, 'reviews': "A very enjoyable meal in a wonderful setting.  Food was good but not great and staff attentiveness wasn't 5-star, but did the trick to make the evening a success."},
    {'status': 1, 'reviews': "3.5 stars. We chose this restaurant for our final night on Maui. Nice ambiance and good food but a little pricey. We started by splitting the Maui Fresh salad - a large enough portion that we each had a good taste of it. Husband had the sirloin - 7 ounces (as opposed to the 14 oz Filet Mignon) - it was very good. I had the grilled vegetable platter, but ordered it without mushrooms (which I believe is one of the features of the dish). An interesting assortment of veggies - squash, broccolini (kind of tough and ended up leaving it), red and golden beets, and arancini (a breaded rice/cheese ball), all over herb chimicurri. Oh, and some curly kale that was melt in your mouth good. We finished off with a huge slice of yummy Hula Pie, something I have wanted to try the entire time I've been in Hawaii. We've been trying Mai Tais all week and while Leilani's scored high on presentation, they were weak on taste and alcohol content. Nice place to enjoy our last night in Hawaii."},
    {'status': 1, 'reviews': "The location and ambiance is simply the best!  We had the fish tacos and they were amazing. A beautiful place to watch the sunset at dinner."},
    {'status': 1, 'reviews': "If you're looking for a tourist spot, this is it. Unfortunately I couldn't tell that from other reviews. "}
], 
    ignore_index=True)

In [32]:
df.head()

                                             reviews  status
0  It started out really good.  Crab cakes were o...       0
1  A very enjoyable meal in a wonderful setting. ...       1
2  3.5 stars. We chose this restaurant for our fi...       1
3  The location and ambiance is simply the best! ...       1

In [33]:
df.to_csv('../../data/test/reviews.csv')

In [38]:
# df
dataset1 = pd.read_csv('../../data/processed/dataset1.csv')
dataset2 = pd.read_csv('../../data/processed/dataset2.csv')
dataset1.head()

   status                                            reviews
0       1  Kimo's never disappoints.  We come here once o...
1       0  I was there the first week of October and Firs...
2       1  This place was on my "Must Do Maui" list and i...
3       0  Monday night dinner here and they quickly sat ...
4       1  Nice view and amazing cocktails. They are loca...

In [39]:
dataset2.head()

   status                                            reviews
0       1  disappoint everi trip maui servic food upstair...
1       0  first week octob first staff wonder drink tast...
2       1  list disappoint reserv celebr honeymoon prime ...
3       0  monday night dinner quickli group upstair coup...
4       1  nice amaz cocktail locat lahaina downtown area...