In [27]:
import pandas as pd
import numpy as np

filepath_base = '../../data/processed/hi_rws_0001_0256_descriptive.csv'
filepath_preprocessed = '../../data/processed/hi_rws_0001_0256_processed.csv'

df1 = pd.read_csv(filepath_base)
df2 = pd.read_csv(filepath_preprocessed, header=None, names=['norm_tokens_doc'])

df = pd.concat([df1, df2], axis=1)
df.head()

                alias                        ...                                                            norm_tokens_doc
0  kimos-maui-lahaina                        ...                          [('stumble', 'great', 'restaurant', 'overlook'...
1  kimos-maui-lahaina                        ...                          [('excellent', 'view', 'ocean', 'sunset'), ('e...
2  kimos-maui-lahaina                        ...                          [('place', 'what', 'review', 'portray'), ('sta...
3  kimos-maui-lahaina                        ...                          [('be', 'excited', 'repeat', 'keoki', 'kauai',...
4  kimos-maui-lahaina                        ...                          [('look', 'tourist', 'spot'), ('could', 'tell'...

[5 rows x 22 columns]

In [28]:
df.norm_tokens_doc[0][0]

'['

In [32]:
from ast import literal_eval
df.norm_tokens_doc = df.norm_tokens_doc.apply(lambda x: literal_eval(x))
df.norm_tokens_doc[0][0]

('stumble',
 'great',
 'restaurant',
 'overlook',
 'ocean',
 'lunch',
 'vacation',
 'maui')

In [33]:
df.norm_tokens_doc.apply(lambda x: len(x) == 0).sum()

3

In [43]:
df[df.norm_tokens_doc.apply(lambda x: len(x) == 0)].loc[:,['description', 'norm_tokens_doc']]

                                              description norm_tokens_doc
13914   H bf n cgrbn gmybfnemb can't ndndr mrnnv\nB ee...              []
107036  . .\nlnl\n\n\nl.llm\n. \n....\n.. I n         ...              []
114094  3 ry\n776dr546tfrt ftfesdzsws6z47llllll7777lll...              []

In [45]:
df.norm_tokens_doc[df.norm_tokens_doc.apply(lambda x: len(x) == 0)].index

Int64Index([13914, 107036, 114094], dtype='int64')

In [35]:
i = 0
y = 0
for index, doc in enumerate(df.norm_tokens_doc):
    i += len(doc)
    if index == 13914:
        print(i)
        break

103357

In [36]:
df_to_be_dropped = df[df.norm_tokens_doc.apply(lambda x: len(x) == 0)]
df.drop(df_to_be_dropped.index).shape

(195766, 22)

In [37]:
df.shape

(195769, 22)