In [1]:
import pandas as pd
import numpy as np

file_path = "../../data/processed/yp_competitors_rws_0001_0050_topics.csv"
df = pd.read_csv(file_path)
df.head()

                alias  ratingValue                        ...                         topic_mode                                         topic_list
0  kimos-maui-lahaina            5                        ...                                  1                              5,2,1,3,6,3,2,0,6,1,5
1  kimos-maui-lahaina            5                        ...                                  6                                          6,3,8,6,9
2  kimos-maui-lahaina            3                        ...                                  8                        6,8,2,5,4,8,3,9,8,8,8,1,7,6
3  kimos-maui-lahaina            2                        ...                                  2  2,4,9,0,5,3,7,1,0,4,0,5,5,8,6,9,2,8,6,2,2,1,6,...
4  kimos-maui-lahaina            3                        ...                                  6                                6,9,8,6,4,0,5,3,1,9

[5 rows x 29 columns]

In [2]:
# fix column type error
from ast import literal_eval

fix_columns_list = ['sent_tokens', 'word_tokens_doc', 'norm_tokens_doc', 'word_tokens', 'norm_tokens']
for column in fix_columns_list:
    df[column] = df[column].apply(lambda x: literal_eval(x))
df.loc[:5, fix_columns_list]

                                         sent_tokens                        ...                                                                norm_tokens
0  [I stumbled across this great restaurant overl...                        ...                          [stumbl, across, great, restaur, overlook, oce...
1  [Excellent view on the ocean at sunset., Excel...                        ...                          [excel, view, ocean, sunset, excel, food, fres...
2  [This place was not what the reviews portrayed...                        ...                          [place, review, portray, starter, walk, stair,...
3  [We were excited to repeat our Keoki's (in Kau...                        ...                          [excit, repeat, keoki, 's, kauai, lovefest, si...
4  [If you're looking for a tourist spot, this is...                        ...                          ['re, look, tourist, spot, unfortun, could, n'...
5  [What an amazing restaurant, especially the vi...                        ...                          [amaz, restaur, especi, view, dinner, dine, wa...

[6 rows x 5 columns]

In [41]:
# X is sents, y is sentiments that generated by doc(len(lists) * [sent]).
X = list(chain(*df.sent_tokens))
doc_sentiment = []
for sentiment, sents in zip(df.sentiment, df.sent_tokens):
    doc_sents_temp = [sentiment] * len(sents)
    doc_sentiment.append(doc_sents_temp)
y = list(chain(*doc_sentiment))
print(len(X), len(y))

136033 136033

In [42]:
df.sent_tokens[0]

['I stumbled across this great restaurant overlooking the ocean for lunch during my vacation to Maui.',
 'I did not have high expectations for this place, but boy did it blow me out of the water.',
 "The fish and chips is some of the best I've ever had (and I've had lots, including from London).",
 'I highly recommend it.',
 'Also, the turkey bacon sandwich was SO good.',
 'In terms of drinks, I highly recommend the Pacific Paradise drink!',
 'So delicious and tropical!',
 'I also really enjoyed the Lahaina Lemonade.',
 'Service was really great!',
 'I wish I remembered the waitresses name because she was truly awesome and recommend the best stuff.',
 'She was blonde and had cute sunglasses.']

In [43]:
from itertools import chain
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
sent_tokens_tfmd = cv.fit_transform(chain(*df.sent_tokens))
sent_tokens_tfmd

<136033x21265 sparse matrix of type '<class 'numpy.int64'>'
	with 757696 stored elements in Compressed Sparse Row format>

In [44]:
tfidf = TfidfTransformer()
tfidf.fit_transform(sent_tokens_tfmd)

<136033x21265 sparse matrix of type '<class 'numpy.float64'>'
	with 757696 stored elements in Compressed Sparse Row format>

In [46]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import SGDClassifier

pipe = Pipeline([
    ('vect', CountVectorizer(stop_words='english')),
    ('tfidf', TfidfTransformer()),
    ('clf', SGDClassifier(loss='hinge', penalty='l2',
                          alpha=1e-3, random_state=42,
                          max_iter=10, tol=0.05)),
])

pipe.fit(X, y)
predicted = pipe.predict(X)
print(np.mean(predicted == y))

0.7477450324553601